<header>
  <div class="header__top">
      <img src="/asset/Bitmap.png" alt="logo de l'entreprise" srcset="">
      <span>PLATEFORME DE TRAITEMENT DES CANDIDATURES</span>

      <div class="header__top__user">
          <span class="header__top__user--red">
              LA
          </span>
          <span>
              Lisa ATHANE
          </span>
          <span style="background-color: #F2F2F2; width: 2px;height: 22px;"></span>
          <img src="/asset/sign-out-optionlogin.png" height="20px" class="navbar_header--logout"/>
      </div>
  </div>
  <table class="header__bottom" style="width: 100%;" >
      <tr class="header__bottom__menu">
          @for (menu of menus; track $index) {
            <th [routerLink]="['/',menu.link]" routerLinkActive="router-link-active" [innerHTML]="menu.name" ></th>
          }
      </tr>
  </table>
</header>
