<footer>
  <div class="contact">
      <span class="contact__title">NOUS CONTACTER</span>
      <ul class="contact__list">
          <li>Nous appeler : (242) 06 504 22 22</li>
          <li>Nous écrire : sgc.qualite{{'@'}}socgen.com</li>
          <li>Trouver une agence</li>
      </ul>
  </div>
  <div class="footer">
      <div class="footer_top">
          <img src="/asset/Bitmapfooter.png" alt="logo entreprise" srcset="">
          <select class="foot_select">
              <option value=""> Nos sites </option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
          </select>
      </div>
      <div class="footer_bottom">
          <span>Contact</span>
          <span>Mentions légales</span>
          <span>Plan du site</span>
          <span>Sécurité</span>
          <span>Crédits</span>
      </div>
  </div>
</footer>
