

<section class="container">

  <div class="title ">
      <span class="title_bar"></span>
      <span class="title_name">Vos candidatures</span>
  </div>
  <div>
      <table class="table2" style="width: 100%;">


          <tr class="table_item">
              <th># de l'offre</th>
              <th>INTITULÉ de l'offre</th>
              <th>Date de MISE au ligne</th>
              <th>Status de la candidature</th>
              <th>Retour RH</th>
          </tr>

          @for (application of applications; track $index) {
            <tr class="table_item">
              <td>{{application.id}}</td>
              <td>{{application.label}}</td>
              <td>{{application.applyDate | date:'dd/MM/YYYY' }}</td>
              <td>{{application | status}}</td>
              <td class ="table_item--{{application.hrResponse| responseColor }}">{{application.hrResponse| responseLabel:application.interviewDate}}</td>
            </tr>
          }
      </table>
  </div>

  <div class="content" >
      <div class="title content_title" >
          <span class="title_bar"></span>
          <span class="title_name">Offres similaires</span>
      </div>
      <div class="box" >
          <h3 class="box_type">CDD</h3>
          <h3 class="box_work">International Marketing Project Manager H/F</h3>
          <span class="box_city">
              <img src="asset/placeholder.png" alt="" srcset="">
              <span>Brazzaville</span>
          </span>
      </div>
      <div class="box">
          <h3 class="box_type">CDI</h3>
          <h3 class="box_work">Contrôleur de Gestion Sociale H/F</h3>
          <span class="box_city">
              <img src="asset/placeholder.png" alt="" srcset="">
              <span>Point-Noire</span>
          </span>

      </div>
      <div class="box">
          <h3 class="box_type">CDD</h3>
          <h3 class="box_work">Conseiller Clientèle BtoB, H/F, CDD</h3>

          <span class="box_city">
              <img src="asset/placeholder.png"  alt="" srcset="">
              <span>Point-Noire</span>
          </span>
      </div>

  </div>
</section>

